body{
		background-color:white;}
		
		#unorderedlist{
		background-color:rgb(250,230,100);
		font-style: italic;
		font-size: 20px;
		font-family: arial;
		
		<!-- Shortcut: 'font: cursive 20px italic'-->
		
		}
		
		.tabletest{
		background-color: rgb(58,212,250);
		}
				
		.sans{
		font-family: "helvetica", sans-serif;
		
			<!--The "helvetica" is the primary font, and the "sans-serif" is the backup-->
		}
		
		body{
		font-size: 15px;
		}
		
		th{
		font-size: 1.25em;	
		
			<!--Converts the font to 1.25x size of the rest-->
		}
		
		.Yashua{
		font-style: italic;
		text-align: center;
		line-height: 1.5em;
		}
		